<div class="container">
  <ul>
    <% @posts.each do |post| %>
    <li>
      <%= link_to(post_path(post), remote: true) do %>
        <%= image_tag post.photos.first.image.url(:medium), class: "card-img-top" %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
