<nav class="navbar navbar-expand-md navbar-dark bg-light fixed-bottom">
  <% if current_user %>
    <%= link_to "投稿する", "#", class: "nav-link btn btn-primary" %>
  <% end %>
  <p class="mx-auto my-auto copy-right"><small>&copy; 2018 shunta.k</small></p>
</nav>
